@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "BaiTap2";
}
@model SanPhamViewModel
<div class="sanpham">
    <h1>@Model.TenSanPham</h1>
    <h2>Giá Bán: @Model.GiaBan </h2>
    <img src="@Model.HinhAnh" alt="Ảnh Mô Tả"
</div>
