@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2></h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Giới Thiệu Bản Thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Thành Viên Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Hoàng Anh Huy</h1>
    </article>
</section>

<footer>
    <p>Copyright &copy;Hoang Anh Huy - @DateTime.Now.Year</p>
</footer>